.card{
  margin: 20px;
  width: 40rem;
  height: 40rem;
}

.card-footer.button{
  background-color: rgb(18, 205, 18);
}

.card-footer{
  display:flex;
  justify-content: space-between;
  background-color: transparent;
}